.AuthenticationBanner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    min-width: 890px;
}

.innermost {
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #525963;
  margin-top: 2.5%;
  border-radius: 20px;
  border: 2px solid DimGrey;
  background-color: #babdc1;

}

.AuthenticationBanner li {
    float: right;
    margin-right: 1%;
}

.AuthenticationBanner li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


.ForgottenPassword {
  color: white;
}

.username {
  color: white;
  font-size: 170%;
  cursor: pointer;
}

.ManagementPanel {
    min-width: 890px;
    margin-top: 1%;
}


.parent1155 {
    display: flex;
}

.UserSearch {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  border-radius: 20px;
  border: 2px solid DimGrey;
  flex: 1;

  width: 90%;
  margin-right: 5%;

  text-align: center;
}

.UserProperties {
  display: block;
  overflow: auto;
  flex: 0 0 65%;

  width: 90%;

  margin-left: 5%;
  margin-right: 1%;


  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;

}

.LastVisits {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-left: 5%;
  margin-right: 5%;

  background-color: #babdc1;
  border-radius: 45px;
  border: 2px solid DimGrey;

  text-align: center;
}

.Photo {
  float: left;
}

.UserInformation {
  overflow: hidden;
  border-style: solid;
  background-Color: #babdf4;
  border-Color: white;
  margin-right: 1%;
}

.main {
    display: flex;
}

.UserProfilePanel {
  width: 100%;
  background-color: red;
  overflow: hidden;
}

.UserProfileNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  cursor: pointer;
}

.UserProfileNavbar li {
  float: left;
  margin-left: 1%;
}

.UserProfileNavbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.UserProfileNavbar li:hover {
  background-color: orange;
}

.LastVisitorsTable {
  display: block;
}



.SearchUserTable {

  overflow-y: auto;
  height: 300px;
  width: 100%;
}

.LastVisitorsTable tr {
  display: inline-flex;
  clear: both;
  margin-left: 2%;
  margin-top: 0.5%;
}

.NutritionalInformation {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  text-align: center;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  background-Color: #babdc1;
  position: relative;
}

.NutritionalInformationButton {
  margin-left: 2.5%;
}

.Description {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  text-align: center;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
    background-Color: #babdc1;


}

.CreateIngredientButton {
  text-align: center;

}

.NotLoggedIn {
  text-align: center;
}


.table1 {
  background-color: #525963;
  display: table-cell;
  border-color: white;
  border-style: solid;
  border-width: 20px;



}

.CompareTable {
    width: 100%;
}

.CompareIngredients {
  margin-Left: 10%;
  margin-Right: 10%;

  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-Top: 2.5%;

  overflow: auto;
  height: auto;
}

.tabsas {
  width: 100%;
  overflow-x: overflow;

  border-radius: 20px;
  border: 2px solid DimGrey;
}

.RemoveButton {
  text-align: center;
}

.RemoveIcon {
    cursor: pointer;
}

.searchBox {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-top: 0.5%;
  margin-left: 5%;
  margin-right: 0.5%;

  height: 300px;



  border-width: 5px;

}

.searchBox1 {
  width: 50%;

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;

  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;


}

.searchBox2 {
  width: 50%;

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;

  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;


}

.ingredientBox {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-Top: 0.5%;

  overflow: auto;
  height: 300px;
  width: 100%;
  margin-left: 0.5%;
  margin-right: 5%;
  border-width: 5px;
}

.ingredientBox1 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-Top: 2.5%;
  overflow-y: auto;
  margin-right: 5%;
  margin-left: 5%;
  border-width: 5px;
  width: 90%;
  overflow-x: auto;

  border-radius: 20px;
  border: 2px solid DimGrey;


}

.ingredientBox2 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-Top: 2.5%;
  overflow-y: auto;
  margin-right: 5%;
  margin-left: 5%;
  border-width: 5px;
  width: 90%;
  overflow-x: auto;

  border-radius: 20px;
  border: 2px solid DimGrey;
  height: 342px;

}



.IngredientSearch1 {
    margin-left: 1%;
    margin-right: 1%;
}

.selectedIngredient {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-Top: 1%;
  margin-left: 1%;
  margin-right: 14%;


}

.selectedIngredient1 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-Top: 2.5%;



}

.parent {
  display: flex;
}



.parent1 {
  display: flex;
}




.testing11 {

}


.activate: hover, focus {
  background-color: red !important;
  color: red !important;
}


.tableOfIngredients {
  text-align: center;
}

.tableOfIngredients1 {
  text-align: center;
  width: 100%;
}

.tableOfIngredients1 th {
  background-color: #a6a9b2;
}

.tableOfIngredients th {

}




.div1 {

  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #525963;
  margin-top: 2.5%;
  border-radius: 20px;
  border: 2px solid DimGrey;
}

.div2 {

  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  overflow:auto;
  background-color: #525963;
  margin-top: 2.5%;
  border-radius: 20px;
  border: 2px solid DimGrey;
}

.div3 {
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  overflow:auto;
  background-color: #525963;
  margin-top: 2.5%;
  border-radius: 20px;
  border: 2px solid DimGrey;
}



.h2W {
  text-align: center;
  align-items: center;
}

.Navigation {
  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: white;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #71777f;

  border-radius: 20px;
  border: 2px solid DimGrey;
}


.IngredientInformations {
  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: white;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #71777f;

  border-radius: 20px;
  border: 2px solid DimGrey;
}


.addReview {
  background-color: #525963;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;

  border-radius: 20px;
  border: 2px solid DimGrey;
}

.IngredientDescription {
  background-color: white;
  display: flex;
}

.navbar {
    background-color: white;
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}

.RecipeeDescriptione {
  background-color: #525963;
    justify-content: center;
    align-items: center;
    textAlign: 'center';
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;

    border-radius: 20px;
  border: 2px solid DimGrey;
}

.DescriptionInside {
  border-radius: 20px;
  border: 2px solid dimgrey;
  background-color: gray;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  overflow: auto;
}

.IngredientDescription1 {
background-color: #525963;
  justify-content: center;
  align-items: center;
  textAlign: 'center';
  list-style: none;
  margin-left: 5%;
  margin-right: 5%;
  overflow: auto;

  border-radius: 20px;
border: 2px solid DimGrey;

}

.ReviewTable {
  width: 100%;
  overflow: auto;
}

.ReviewRow {
  background-color: 'white';
  overflow: auto;


}

.IngInfo {
    text-align: center;
}

.IngDescription {
  text-align: center;
}

.RecipeeDescriptionInComparison {
  text-align: center;
}

.RecipeeNutrInfoComparisonRecipeeVitaminsComparison {
  text-align: center;
}

.RecipeeMineralsComparison {

}

.DietCreationParent {
  width: 90%;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #babdc1;
  margin-top: 2.5%;
  border-radius: 20px;
  border: 2px solid DimGrey;
}

.reviewsOfIngredient {
    width: 90%;
    overflow: auto;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #525963;

    border-radius: 20px;
    border: 2px solid DimGrey;
}

.Dropzone1 {
margin-left: 25%;
margin-right: 25%;

}

.LangaugeIngCreation {
  margin-left: 5%;
  margin-right: 5%;
}

.ReviewTableDate {
  max-width: 300px;

  overflow-x: auto;

  word-wrap:break-word;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}




.test111 {
  margin-top: 5%;
}

.Reviews {
  text-align: center;

}

.img1 {
  margin-left: 20%;
  margin-right: 20%;
}

.lang {
  height: 100%;
  margin-top: 10%;
}

.CompareIngredinets {
  margin-top: 2.5%;
  margin-Left: 10%;
  margin-Right: 10%;

  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  border-width: 5px;

  margin-Top: 2.5%;


  overflow: auto;
  height: 600px;
}



.CompareRecipees {
  margin-top: 2.5%;
  margin-Left: 10%;
  margin-Right: 10%;

  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-Top: 2.5%;


  overflow: auto;
  height: 600px;
  border-width: 5px;

  border-radius: 20px;
  border: 2px solid DimGrey;
}

.IngredientNutritionalInformation {
  background-color: white;
  text-align: center;
  overflow: auto;
  margin-right: 5%;
  margin-left: 5%;

  list-style: none;
  background-color: #525963;

  border-radius: 20px;
  border: 2px solid DimGrey;
}

.IngredientNutritionalInformation table {
  list-style: none;


}

.IngredientDescription table {
  list-style: none;
}

.parent1 {
  display: flex;
}

.selectedIngredient1 {
  margin-left: 5%;
  margin-right: 5%;

  border-radius: 20px;
border: 2px solid DimGrey;
}

.selectedIngredient2 {

}



.RecipeeListTable {
  text-align: center;
  list-style: none;
  width: 100%;
}

.RecipeeListTable th {
  background-color: #a6a9b2;
}

.ActiveRecipee {
  border-style: solid;
  border-Color: white;
}

.DietTable {

}

.DietRow {

}

.RecipeeTotals {
  margin-top: 2%;
}

.RecipeeDescription {
  margin-top: -2%;
}

.RecipeeTotals {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  overflow: scroll;
  height: auto;
}

.RecipeeTotals1 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  overflow: hidden;
  text-align: center;
}



.RecipeeTotalsTableRow {

}

.RecipeeTotalsTable {

}

.RecipeeIngredients {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  overflow: scroll;
  height: 300px;
  margin-top: 2.5%;
}


.RecipeeIngredients1 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  overflow: scroll;
  height: 300px;
  margin-top: 2.5%;

  margin-left: 5%;
margin-right: 5%;
boder-width: 5px;
}


.RecipeeListTableRow1 {
  background-color: white;

}

.RecipeeIngredientsComparison {
  max-width: auto;
  overflow-x: scroll;
  max-height: 300px;
  overflow-y: scroll;


}

.RecipeeDescriptionComparison {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: gray;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-top: 1.5%;

}

.RecipeeListTable2 {
  max-width: 300px;
  overflow-x: scroll;
}


.RecipeeIngredientsTable {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.testinh {
  background-color: #474b54;
  margin-top: 1%;
  overflow: auto;
}

.ssss {
    margin-top: 2.5%;
}
.RecipeeIngredientsTableRow {

}

.RecipeeCreationButton {

}

.CreateRecipee {
  display: inline-block;
  margin-left: 1%;
}

.RecipeeCreationButton {
  display: inline;
}

.buttonparent {
  text-align: center;
  width: 100%;
  margin-top: 2.5%;
}

.RecipeeDescription1 {
  margin-top: 2.5%;

  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: white;
  margin-left: 4%;
  margin-right: 4%;
  background-color: red;
}

.inlineeee {

}

.textarea11 {
  margin-top: 0.5%;
}

.SearchForRecipees {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;

  display: inline-block;
  text-align: center;
}


.SearchForRecipees1 {
  width: 50%;

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;

  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;

}

.includedIngredients {
  background-Color: green;

  overflow-x: auto;
  margin-top: 5%;
}

.excludedIngredients {
background-Color: red;

  overflow-x: auto;
}

.addIngredient {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.wrapper11 {
  width: 70%;

  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2.5%;

  background-color: gray;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;


}

.wrapper12 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: gray;

  text-align: center;


}

.WhatToCompare11 {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-radius: 20px;
    border: 2px solid DimGrey;

}
.RecipeesList {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-top: 1%;
  width: 100%;
  margin-right: 1%;
}

.RecipeesList1 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-Top: 2.5%;
  overflow-y: auto;
  margin-right: 5%;
  margin-left: 5%;
  border-width: 5px;
  width: 90%;
  overflow-x: auto;

  border-radius: 20px;
  border: 2px solid DimGrey;



}



.RecipeeDescription {
  margin-top: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
}

.RecipeeDescription1 {
  margin-top: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  list-style: none;




  justify-content: center;
  align-items: center;


}

.recdesc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  margin-right: 5%;
  margin-left: 5%;
}

.ActiveRecipee1 {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2.5%;
  border-style: solid;
  background-Color: #babdc1;


  border-radius: 20px;
  border: 2px solid DimGrey;


}


.RecipeeIngredientTotals {
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: auto;
  overflow: scroll;
}

.RecipeeIngredientTotals1 {

  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: auto;
  overflow: scroll;
}

.RecipeeIngredientList {
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: auto;
  overflow: scroll;
}

.RecipeeIngredientList1 {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: auto;
  overflow: scroll;
}



.s {
    display: flex;
}

.CreateADiet {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-top: 2.5%;
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  text-align: center;
  border-width: 5px;
}

.DietingJourneyCreationForm {
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;

}


.DietSummary {
  text-align: left;
  border-style: solid;
  background-Color: #2c333f;
  border-Color: white;
  width: 50%;
  overflow-x: auto;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;

  border-radius: 20px;
  border: 2px solid DimGrey;
}

.DietOverview {
  border-style: solid;
  background-Color: darkgrey;
  border-Color: red;
}

.DietMeals {
  background-Color: white;
}

.RecipeeIngredientTotals2 {
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: auto;
  overflow: scroll;
}

.RecipeeIngredientList2 {
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: auto;
  overflow: scroll;
}

.ActiveRecipee2 {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.RecipeesList2 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-top: 1%;
  width: 100%;
  margin-right: 1%;
}

.RecipeeDescription2 {
  margin-top: 1%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
}

.SearchForRecipees2 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;

  display: inline-block;
  text-align: center;
}

.dietsFound {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-Top: 2.5%;
  overflow-y: auto;
  margin-right: 5%;
  margin-left: 5%;
  border-width: 5px;
  width: 90%;
  overflow-x: auto;

  border-radius: 20px;
  border: 2px solid DimGrey;




}


.MyDietingJourneys11 {
  text-align: center;
}

.fifty {
  width: 100%;
}




.dietoverviewsearch {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-right: 2.5%;
  margin-left: 2.5%;
  width: 95%;
  overflow-x: auto;
}

.dietDescriptionSearch {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.dietDescriptionSearch {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.activeDiet {
  width: 90%;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;

  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;




}

.DietSearchOptions {
  width: 50%;

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;

  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;
}

.searchDietsss {
  margin-top: 5%;
}



.createADietingJourney {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;

  width: 90%;
  text-align: center;
  overflow: auto;

}



.dietSelectionDJ {
  margin-top: 1%;
}

.MyDietingJourneys {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.DaysOfDietingJourney {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;


}

.tableMDJ {
  text-align: center;
  width: 100%;
}

.dontOverflow {
  width: 100%;
  overflow: auto;
}

.WeightGraph {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.toDoDescription {
  text-align: center;
  margin-top: 2%;
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  border-radius: 20px;
  border: 2px solid DimGrey;

}

.tabs {
  margin-top: 1%;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.table111212 {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.IngredientCreation {
  width: 90%;

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;

  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid DimGrey;

}

.ContainerIC {
  margin-top: 1%;
}

.InstructionsIC {
  text-align: center;
}

.DescriptionIC {
  margin-left: 2%;
  margin-right: 2%;
  background: gray;
  color: white;
}

.DescriptionIC1 {
  margin-left: 2%;
  margin-right: 2%;
  background: gray;
}

.dietSelectiedDJ {
  text-align: center;
  background-color: #babdc1;
  border-radius: 20px;
  border: 2px solid white;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}


.Insides {
  background-color: #525963;
}

.SelectMeals {
  margin-left: 2%;
margin-right: 2%;
background: gray;
}

.DietDescription {
  margin-left: 2%;
margin-right: 2%;
background: gray;
color: white;
}

.NutritionalInformationIC {
  margin-left: 2%;
  margin-right: 2%;
  background: gray;
  color: white;
}

.Top {
  background-Color: navy;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  padding-bottom: 5%;
}

.Middle {
  border-style: solid;
  background-Color: darkgray;
  border-Color: gray;
  margin-right: 25%;
  margin-left: 25%;
}

.Bottom {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 20px;
  border: 2px solid DimGrey;
  text-align: center;
}

.BottomTable {
  list-style: none;
  width: 100%;
  height: 50px;
}



.InsidesDiet {
  border-radius: 20px;
  border: 2px solid dimgrey;
  background-color: gray;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#root {
  height: 100%;
}

.TopMiddleBottomParent {
  height: 100%;
  margin-top: 200px;


}

.Application {
  height: 100%;
}

.Unauthenticated {
  height: 100%;
  margin-top: 5%;
}

.NutriInput {
  display: inline-block;
}


.ForgottenPasswordInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.ForgottenPasswordButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-bottom: 5%;
}

.RadioButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.textArea1 {
  resize: none;
}


.RadioButtons2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.LoginInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.CreateAnAccountInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.RegisterButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}



.SignInButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-bottom: 5%;
}

.Icon {
  text-align: center;
  color: white;

}


.floatLeft {
    cursor: pointer;
    background-color: #656c82;
    display: flex;
    margin-left: 1%;

    border-radius: 20px;
    border: 2px solid white;


    text-align: center;
}



.LoginText, .ForgottenPasswordText, .CreateAnAccountText {
  text-align: center;
  margin-top: 6%;
  color: black;
  font-weight: bold;
  border-style: inset;
  width: 30%;
  margin-Left: 35%;
  margin-right: 35%;
  background-color: #93969e;
  border-radius: 20px;
  border: 2px solid white;
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}


.WhatToCompare {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 2.5%;

  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  border-width: 5px;
  border-radius: 20px;
  border: 2px solid DimGrey;

}

.WhatToCompare1 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 2.5%;

  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  border-width: 5px;
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.ComparedRecipees {
  margin-top: 2.5%;
  background-color: red;
}


.DietJourneyNutrition {
  border-style: solid;
  background-Color: #babdc1;
  border-Color: white;
  border-width: 5px;

  text-align: center;
  margin-top: 2.5%;
}

.LanguageChanger {
  margin-left: 43.5%;
  margin-top: 10%;
}

.table22 {


}

.Language {
  display: inline-block;
}


.LanguageUnauthenticated {
  text-align: center;
}


.DayRow {



}
